body {
    text-align: center;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
}

#siteNav {
    font-size: xx-large;
}